---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: harbor-ingress-route
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`{{ harbor_dns }}`)
    kind: Rule
    services:
      - name: harbor
        port: 80
  tls:
    secretName: harbor-cert
