apiVersion: v1
kind: Secret
metadata:
  name: mypostgres-secret
  namespace: {{ postgres_namespace }}
type: Opaque
stringData:
  superUserPassword: "{{ postgres_superuser_pwd }}"
  replicationUserPassword: "{{ postgres_replica_pwd }}"