apiVersion: v1
kind: Secret
metadata:
  name: {{ postgres_database_name }}-secret
  namespace: {{ postgres_namespace }}
type: Opaque
stringData:
  superUserPassword: "{{ postgres_superuser_pwd }}"
  replicationUserPassword: "{{ postgres_replica_pwd }}"
  customUserPassword: "{{ postgres_pwd }}"