---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: awx-ingress-route
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`{{ awx_dns }}`)
    kind: Rule
    services:
      - name: awx-service
        port: 80
  tls:
    secretName: awx-cert
