---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: ingressroutetcp-docker-mailserver
spec:
  entryPoints:
    - smtps
    - imaps
  routes:
  - match: HostSNI(`{{ smtp_dns }}`)
    priority: 10
    middlewares:
      - name: mailserver-ipwhitelist
    services:
    - name: docker-mailserver
      port: 465
  - match: HostSNI(`{{ imap_dns }}`)
    priority: 10
    middlewares:
      - name: mailserver-ipwhitelist
    services:
    - name: docker-mailserver
      port: 993
  tls:
    secretName: mailserver-cert