apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ minio_prefix }}deployment
  labels:
    app: {{ minio_application }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ minio_application }}
  template:
    metadata:
      labels:
        app: {{ minio_application }}
    spec:
      containers:
      - name: minio
        image: {{ minio_image }}
        command:
          - minio
        args:
          - server
          - /data
          - '--console-address'
          - ':9001'
        env:
          - name: MINIO_ROOT_USER
            valueFrom:
              secretKeyRef:
                name: {{ minio_prefix }}secret
                key: minio_username
          - name: MINIO_ROOT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ minio_prefix }}secret
                key: minio_pwd
